* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: black;
  justify-content: space-between;
  display: flex;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
